:root{
    --primary-color: rgba(15, 15, 15, .7);
    --secondary-color: rgb(19, 149, 182);
    --text-color: rgb(228, 228, 228);
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
    color: var(--primary-color);
    background: rgb(240, 240, 240);
    font-family: 'Roboto', sans-serif;
}

/* UTILITY CLASSES */

.secondary-color{
    color: var(--secondary-color);
}

/* SHOWCASE SECTION */

#showcase{
    height: 100vh;
    width: 100%;
    background: url(img/prog.jpg) no-repeat center center/cover;
}

.showcase-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(15, 15, 15, .8);
    padding: 2rem 0;
}

.lg-heading{
    font-size: 3rem;
    z-index: 1;
    margin-bottom: 3rem;
    color: var(--text-color);
    width: 100%;
}

.showcase-content{
    max-width: 1100px;
    font-size: 1.5rem;
    z-index: 1;
    line-height: 2;
    color: var(--text-color);
    padding: 2rem;
}


/* FOOTER */

#footer{
    display: block;
    width: 100%;
    background-color: rgba(15, 15, 15, .8);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1rem;
    color: var(--text-color);
}

@media(max-width: 767px){
    .lg-heading{
        font-size: 2.2rem;
    }

    .showcase-content{
        font-size: 1.3rem;
        line-height: 1.5;
    }
}
